.SinglePost {
  background: var(--lightGrey);
}

.SinglePost--BackButton {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: white;
  float: left;
}

.SinglePost--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
  background-color: #0000ff00;
}

.SinglePost--BackButton:hover svg,
.SinglePost--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.SinglePost--Content {
  background: white;
  padding: 4rem 4rem 4rem 4rem;
}

@media screen and (max-width: 750px) {
  .SinglePost--Content {
    padding: 4rem 2rem;
  }
}

.SinglePost--Meta {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
  text-align: center;
}

@media (max-width: 600px) {
  .SinglePost--Meta {
    font-size: 1.3rem;
  }
}

.SinglePost--Meta > * + * {
  margin-left: 0.75em;
  color: #3ca340;
}

.SinglePost--Title {
  text-align: center;
  line-height: 1.2;
  font-size: 2em;
  margin: .4em 0 -0.8em;
}

@media (max-width: 600px) {
  .SinglePost--Title {
    font-size: 1.7em;
  }
}

.SinglePost--InnerContent {
  padding: 0 8rem;
  font-size: 1.2em;
  margin-bottom: 100px;
}

@media screen and (max-width: 750px) {
  .SinglePost--InnerContent {
    padding: 0;
  }
}

.SinglePost--Pagination {
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SinglePost--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  background: linear-gradient(104.74deg, rgb(58, 152, 67) 0%, rgb(71, 230, 31) 100%);
  padding: 16px 60px;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .SinglePost--Pagination--Link {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 15px 20px;
  }
}

.SinglePost--Pagination--Link.next {
  margin-left: auto;
  color: white;
  background: linear-gradient(104.74deg, rgb(58, 152, 67) 0%, rgb(71, 230, 31) 100%);
  padding: 16px 60px;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .SinglePost--Pagination--Link.next {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 15px 35px;
  }
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.demobox {
    background: linear-gradient(104.74deg, rgb(58, 152, 67) 0%, rgb(71, 230, 31) 100%);
    padding: 16px 60px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.demoboxb {
  background: linear-gradient(104.74deg, rgb(58, 152, 67) 0%, rgb(71, 230, 31) 100%);
  padding: 16px 60px;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 16px 0;
  height: 80px;
}

.demobox2 {
  background: linear-gradient(104.74deg, rgb(58, 152, 67) 0%, rgb(71, 230, 31) 100%);
  padding: 16px 0px;
  text-align: center;
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.h2comments {
 color: white;
}

@media (max-width: 600px) {
  .h2comments {
 font-size: 17px;
  }
}

.demobox3 {
  padding: 3px 20px 0px 20px;
}

.icons2 {
  display: inline-flex;
}

.fb-like {
  float: right;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 300px;
}

@media (max-width: 600px) {
.sidebar {
    position: static;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
}



.white-box {
  padding: 20px 20px 20px;
  background-color: #fff;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.15), 0 0 15px 0 rgba(0,0,0,.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sticky {
  position: relative;
  top: 0;
  margin-top: -80px;
  padding-top: 80px;
  position: sticky !important;
}

.template-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 230px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 600px) {
  .template-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  }

.terms-link {
  display: block;
  margin: 5px auto 4px;
  padding-bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.button-sidebar {
  font-size: 14px;
  -webkit-box-shadow: rgba(101, 41, 255, 0.15) 0px 10px 20px;
  box-shadow: rgba(101, 41, 255, 0.15) 0px 10px 20px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  justify-self: center;
  white-space: nowrap;
  background: linear-gradient(104.74deg, rgb(58, 152, 67) 0%, rgb(71, 230, 31) 100%);
  border-radius: 30px;
  border-width: medium;
  border-width: initial;
  border-style: none;
  border-color: currentColor;
  border-color: initial;
  -o-border-image: none;
  border-image: none;
  -o-border-image: initial;
  border-image: initial;
  padding: 16px 60px;
  outline: none;
  -webkit-transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
}

.sidebar-top {
  text-align: center;
}

.offer {
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #0a0f24;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
}

.info-text {
  letter-spacing: 2px;
}

.template-name {
  margin-bottom: 0;
}
