

.Content--Image,
.Content img {
  max-width: 100%;
  border: 5px solid #43c931;
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .Content--Image, .Content img {
    height: 200px;
  }
}

.Content--Iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.Content--Iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
