:root {
  --primary: #3b9c42;
  --secondary: #121f24;
  --lightGrey: whitesmoke;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 3px;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::selection {
  background: rgba(0, 194, 189, 0.6);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: var(--font-system);
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 5rem 0;
  background: #121f24;
}
.section:last-child {
  border: 0;
  -webkit-box-shadow: 0px -30px 50px 0px #000000;
  box-shadow: 0px -30px 50px 0px #000000
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
  background-color: #121f24;
  box-shadow: 3px 3px 5px 6px #000;
}
.section.noPadding {
  padding: 0;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 1111px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button {
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
}
.Button:hover,
.Button:focus {
  opacity: 0.95;
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.content2 {
    background-color: #eff3f5;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.container2 {
    display: grid;
    justify-items: center;
    padding: 0px 20px;
    background: #111f25;
}

.Title__TitleWrapper {
    font-size: 72px;
    font-weight: 700;
    margin: 0px;
}

.Title__TitleWrapperSubtitle {
    font-size: 28px;
    font-weight: 600;
    margin: 0px;
}

.H2Subtitle {
    margin: 0 0 0em;
    background: -webkit-linear-gradient(104.74deg, #3a9843, #47e61f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) {
  .H2Subtitle {
    font-size: 1em;
  }
}



.H4Subtitle {
    background: -webkit-linear-gradient(104.74deg, #3a9843, #47e61f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) {
  .H4Subtitle {
    font-size: 19px;
  }
}

.rows{
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}
.cardcat {
  /*float: left;*/
  padding: .75rem;
  margin: 2em;
  margin-bottom: 2rem;
  background: -webkit-linear-gradient(104.74deg, #3a9843, #47e61f);
  border: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
    height: 225px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, .15);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .15);
    display: grid;
    grid-template-rows: 1fr 1fr;
    -webkit-transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
}

.cardcat img {
  padding-top: 70px;
  margin: 0 auto;
} 
  
.cardcat-text {
  font-size: 85%;
      color: rgba(255, 255, 255, .8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    -ms-flex-item-align: end;
    align-self: end;
    margin: 0 0 20px 20px;
    position: absolute;
}
  
  .tricks {
    color: white;
    font-size: 30px;
    margin: 20px 0 0 20px;
    width: 190px;
    position: absolute;
}
  .container3 {
    width: 100%;
    margin: 0 auto;
    background: #121f25;
}

.section2 {
  width: 100%;
  padding: 5rem 0;
  background: #121f25;
  box-shadow: 0 0 15px 10px #141414;
}

.section4 {
  width: 100%;
  text-align: center;
  background: #121f25;
  padding-bottom: 50px;
}

.section6 {
  width: 100%;
  padding: 5rem 5;
  margin-bottom: -7px;
  background: #121f25;
  padding-bottom: 70px;
}

.icons {
  margin: 0px auto;
  text-align: center;
  padding-bottom: 50px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 15px;
  border-radius: 50%;
    
  background-size: 60%;
  background-position: center center; 
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 50%;
      
    background-size: 60%;
    background-position: center center; 
    background-repeat: no-repeat;
  }
}

.icon:hover {
  opacity: 0.6;
}

.icon-yt {
  background-image: url("https://i.imgur.com/kce2E7s.png");
  background-color: hsl(360, 90%, 40%);
}

.icon-gp {
  background-image: url("https://i.imgur.com/rAbnN1U.png");
  background-color: hsl(360, 80%, 50%);
}

.icon-fb {
  background-image: url("https://i.imgur.com/HujNYDb.png");
  background-color: hsl(230, 50%, 40%);
}

.icon-in {
  background-image: url("https://i.imgur.com/2Y9rW1r.png");
  background-color: hsl(220, 60%, 50%);
}

.icon-tw {
  background-image: url("https://i.imgur.com/7ZgkBfy.png");
  background-color: hsl(200, 90%, 60%);
}

.Slider--Button {
  color: white;
    font-size: 50px;
    padding: 40px 40px;
    font-weight: 600;
    background: linear-gradient(104.74deg, rgb(58, 152, 67) 0%, rgb(71, 230, 31) 100%);
}

.PageHeader.relative {
  padding: 17rem 0;
}

article.SinglePost.section.light {
  background-color: #121f25;
}

.container.Contact--Section1--Container {
  color: #fff;
}

main.DefaultPage {
  color: white;
}

.icons2 {
  margin: 0px auto;
  text-align: center;
  margin-right: 0;
}

.icon2 {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 15px;
  border-radius: 50%;
    
  background-size: 60%;
  background-position: center center; 
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .icon2 {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 50%;
      
    background-size: 60%;
    background-position: center center; 
    background-repeat: no-repeat;
  }
}

.icon2:hover {
  opacity: 0.6;
}

.icon2-yt {
  background-image: url("https://i.imgur.com/kce2E7s.png");
  background-color: hsl(360, 90%, 40%);
}

.icon2-gp {
  background-image: url("https://i.imgur.com/rAbnN1U.png");
  background-color: hsl(360, 80%, 50%);
}

.icon2-fb {
  background-image: url("https://i.imgur.com/HujNYDb.png");
  background-color: hsl(230, 50%, 40%);
}

.icon2-in {
  background-image: url("https://i.imgur.com/2Y9rW1r.png");
  background-color: hsl(220, 60%, 50%);
}

.icon2-tw {
  background-image: url("https://i.imgur.com/7ZgkBfy.png");
  background-color: hsl(200, 90%, 60%);
}

.Content--Image2, .Content2 img {
  max-width: 100%;
  border: 5px solid #43c931;
  border-radius: 0px;
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .rows {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .Slider--Button {
    background: transparent;
    border: none !important;
    font-size:0;
  }
}




.icon3 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 15px;
  border-radius: 50%;
    
  background-size: 60%;
  background-position: center center; 
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .icon3 {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 50%;
      
    background-size: 60%;
    background-position: center center; 
    background-repeat: no-repeat;
  }
}

.icon3:hover {
  opacity: 0.6;
}

.icon3-fb {
  background-image: url("https://i.imgur.com/HujNYDb.png");
  background-color: hsl(230, 50%, 40%);
}

.icon3-in {
  background-image: url("https://i.imgur.com/2Y9rW1r.png");
  background-color: hsl(220, 60%, 50%);
}

.icon3-tw {
  background-image: url("https://i.imgur.com/7ZgkBfy.png");
  background-color: hsl(200, 90%, 60%);
}
